.modal {

  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  width: 500px;
  transform: scale(0.5);
  transition: 0.3s all;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.modal__content.active {
  transform: scale(1);
}

.modal__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 20px 0;
}

button {
  padding: 5px;
}
button:active {
  color: #fff;
}
.active {
  border: 2px solid #783fe8;
  color: #fff;
  border-radius: 20px;
}

.back {
  width: 60px;
  border-radius: 10px;
  color: white;
  background-color: #009176;
  border: 2px solid #783fe8;
  cursor: pointer;
}
