.not-found-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nfp-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  position: absolute;
}
